* {
    margin: 0;
    padding: 0;
}

body {
    font-family:  "Roboto", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    color: #000000;
    background-color: #ffffff;
}

img {
    max-width: 100%;
}

.wrapper {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 31px 0 31px;
    background-color: #ffffff;
}

.visually-hidden:not(:focus):not(:active) {
    visibility: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    white-space: nowrap;
    border: 0;
    overflow: hidden;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
}

a {
    text-decoration: none;
}

.header {
    min-height: 78px;
}

.nav {
    position: relative;
    min-height: 68px;
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
}

.logo {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 178px;
    height: 40px;
    padding-top: 19px;
    text-transform: uppercase;
}

.logo img {
    padding-right: 20px;
}

.logo p:first-of-type {
    font-family: inherit;
    font-size: 16px;
    font-weight: inherit;
    line-height: 16px;
}

.logo p:last-of-type {
    font-family: "Playfair Display", "Georgia", serif;;
    font-size: 26px;
    font-weight: 700;
    line-height: 26px;
}

.phone-number {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    padding-top: 32px;
    font-family: inherit;
    font-size: 26px;
    font-weight: inherit;
    line-height: 26px;
}

.phone-number p {
    margin-left: 50px;
}

.phone-number span {
    font-weight: 700;
}

.viber {
    margin-left: auto;
    padding-top: 10px;
    width: 160px;
    height: 35px;
    text-align: center;
    border: 1px solid #000000;
}

.viber a {
    font-size: 14px;
    color: #000000;
}


/*
p:first-of-type {
    font-family: "Playfair Display SC", "Georgia", serif;
    font-size: 30px;
    font-weight: 300;
}

p:last-of-type {
    font-family: "Playfair Display", "Georgia", serif;
    font-size: 40px;
    font-weight: 700;
}*/